$content-min-width: 56rem;
$content-max-width: 75rem;

// fonts
$font-xsmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;
$font-heading: 24px;

// colors
$dove-gray: #737373;
$silver: #D9D9D9;
$silver-chalice: #a9a9a9;
$soft-gray: #0000001A;
$dodger-blue: #3483fa;
$dark-red: #B22222;
$turbo: #ffe600;

// shadows
$default-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
