@import '@styles/constants.scss';

.header-container {
  display: flex;
  height: 3.5rem;
  width: 100%;
  background-color: $turbo;
  box-shadow: $default-shadow;
  min-width: $content-min-width;

  > .header-content {
    display: flex;
    margin: .5rem auto;
    max-width: $content-max-width;
    flex-grow: 1;
    padding: 0 3rem;

    .header-icon {
      width: 2rem;
      padding-right: 2rem;
    }
  }
}
